@font-face {
    font-family: 'roboto-mono';
    src: url("../assets/RobotoMono-VariableFont_wght.woff2") format('woff2-variations');
    font-weight: 100 700;
    font-display: swap;
}

:root {
    --color-1: #fff12d;
    --color-2: #dfab4b;
    --color-3: #f44e72;
    --color-4: #b0394d;
    --color-5: #832a39;
    --color-6: rgb(50, 50, 50);
    --color-7: #FFFFFF;
}

body {
    font-family: roboto-mono;
    background-color: var(--color-6);
}

#hero {
    height: 100vh;
    width: 100%;
    position: relative;


}

#hero::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: -40%;
    box-shadow: 0px 0px 10px var(--color-5) ;
    transform: skew(0deg, -5deg);
    background-image: linear-gradient(var(--color-4), var(--color-3) 150% );
    position: absolute;
}

#hero .wrapper {
    padding: 50px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.about-me {
    background-image: linear-gradient(153deg, var(--color-3) 27%, var(--color-4) 100%);
    box-shadow: 0px 0px 10px var(--color-5);
    width: min(100vw - 40px, 600px);
    align-self: center;
    padding: 20px;
    position: relative;
    flex-direction: column;
}


.about-me::before {
    content: "";
    height: 90%;
    width: 98%;
    top: 12px;
    left: 0px;
    position: absolute;
    transform: translateZ(-1px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-6);
    
}


.about-me .about-me-text-container {
    transform: translateZ(1px);
    border-bottom: 2px solid var(--color-5);
    margin-bottom: 10px;
}


.about-me-text-container h1 {
    color: var(--color-1);
    text-shadow: 0px 1px 3px var(--color-3);
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--color-1);
    width: 272px;
    animation: typing 1s steps(9),
               cursor 1s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.about-me p {
    color: var(--color-7);
    width: 100%;
    transform: translateZ(1px);
    animation: shine 1s linear;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-size: 1.1em;
}

@keyframes shine {
    from {
        opacity: 0;
    }
    90% {
        text-shadow: 0px 0px 5px var(--color-7);
    }
    to {
        opacity: 100%;
        
    }
}

.wave-emoji {
    display: inline-block;
    user-select: none;
    padding-right: 4px;
    
}

.wave-emoji:hover {
    animation: wave .3s ease-in;
    transform: rotate(0) scale(1);
    animation-iteration-count: 5;
    transform-origin: bottom center;
    
}

@keyframes wave {
   from {
        transform: rotate(0deg) scale(1.2);
   }
   50% {
        transform: rotate(20deg) scale(1.2);
   }
   to {
        transform: rotate(0deg) scale(1.2);
   }
}



.icons {
    transform: translateZ(1px);
    gap: 20px;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.icons img {
    height: 30px;
}

.portrait-container {
    box-shadow: 0px 0px 10px var(--color-5) ;
    height: 400px;
    width: 400px;
    position: relative;
    float: left;
    align-self: center;
}

.portrait-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#portrait-container h2 {
    color: var(--color-1);
    bottom: 0px;
    left: 18%;
    text-shadow: 0px 1px 3px var(--color-3);
    white-space: nowrap;
    font-size: 4rem;
    opacity: 50%;
    user-select: none;
    transform: translateZ(1px);
    position: absolute;
}

#portrait-container h2:hover {
    opacity: 100%;
}



/* My Work Section */

#my-work-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 0px 10%;
}

#my-work-section h2 {
    font-size: 50px;
    color: var(--color-1);
    text-shadow: 0px 1px 3px var(--color-3);
    align-self: flex-start;
}

.my-work-container {
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(2, minmax(150px, 400px));
    justify-items: center;
    gap: 40px;
    padding: 50px 0px;
}

.project-container {
    height: 100%;
    width: 90%;
    background: rgb(131,42,57);
    background: linear-gradient(130deg, rgba(131,42,57,1) 0%, rgba(176,57,77,1) 35%, rgba(244,78,114,1) 100%);
    box-shadow: 0px 0px 22px var(--color-5);
}

.project-container img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.project-details {
    padding: 5%;
}

.project-details p {
    font-size: 14px;
    color: var(--color-7);
}

.project-title {
    display: flex;
    justify-content: space-between;
   
}

.project-title h3 {
    color: var(--color-1);
}

.project-links a {
    width: 25px;
    display: inline-block;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-4);
    padding: 50px 10%;
    height: 700px;
}

footer h2 {
    font-size: 50px;
    color: var(--color-1);
    text-shadow: 0px 1px 3px var(--color-3);
}

footer p {
    font-size: 18px;
    color: var(--color-7);
    
}


footer form {
    background-color: var(--color-3);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    gap: 20px;
    box-shadow: 0px 0px 22px var(--color-5);
}

.form-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    gap: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    
}

.form-field label {
    color: white;
    font-size: 1.2rem;

}

.form-field textarea {
    resize: none;
}

.form-field button {
    border: none;
    background-color: var(--color-1);
    color: black;
    font-weight: 700;
    padding: 10px 0px;
    width: 100%;
    align-self: center;
    cursor: pointer;
}

footer .icons {
    display: flex;
    gap: 20px;
    justify-content: start;
}

.form-right {
    width: 50%;
    margin-left: 1rem;
}

.form-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1391px){

    .project-container img {
        height: 50%;
    }

}

@media (max-width: 1307px) {
    .project-container img {
        height: 40%;
    }

    .project-title {
        font-size: .9em;
    }
}



@media (max-width:1160px) {

    .about-me {
        margin: 0 auto;
        margin-top: 300px;
        width: min(100vw - 40px, 650px);
        
    }

    .about-me::before {
        left: 6px;
        border-radius: 10px;

    }

    #hero .wrapper {
        display: block;
        padding-left: 15%;
    }

    .my-work-container {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-template-rows: repeat(3, 300px);
        justify-items: center;
    }

    .portrait-container {
        height: 300px;
        width: 300px;
        float: left;
        margin-top: 150px;
        margin-right: 1rem;
        z-index: 1;
    }

    .form-right img {
        height: 100%;
        width: 100%;
        object-fit: cover ;
        margin-left: 1rem;
    }
}

@media (max-width:900px) {
    .portrait-container {
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        z-index: 0;
    }

    #hero .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 50px;
    }

    .project-title {
        font-size: .8em;
    }

    .my-work-container {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        grid-template-rows: repeat(6, 300px);
        justify-items: center;
    }

    .about-me {
        margin: 0;
        width: 100%;
        text-align: center;
        background-image: none;
        box-shadow: none;
    }

    .about-me-text-container h1  {
        font-size: 2em;
        width: 180px;
        margin: 0 auto;
    }

    .about-me::before {
        visibility: hidden;
    }

    .icons {
        margin-top: 20px;
        justify-content: center;
    }

    footer {
        display: block;
        padding: 0;
    }

    footer p {
        padding: 0px 15%;
        
    }

    footer form {
        padding: 30px;
    }

    .form-left {
        width: 100%;
    }
    .form-right {
        width: 100%;
        margin-left: 0;
    }

    .form-left * {
        margin: 0 auto;
    }

    .form-field:last-child {
        margin: 0;
    }
    
    .form-right img {
        margin-left: 0;
    }
    
    #my-work-section h2 {

        align-self: center;
    }
}